{% extends 'base.html.twig' %}

{% block html_title %}Accueil{% endblock %}

{% block titre %}Accueil{% endblock %}

{% block body %}
    <h2 class="my-3">Bienvenue <strong>visiteur</strong>,</h2>
    <p class="ml-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem recusandae nam adipisci excepturi, eum tenetur ducimus, enim laborum libero incidunt, quibusdam maiores amet id! Magni ipsa deserunt maxime error cumque.
Nihil eius consectetur voluptatibus quaerat laborum hic saepe impedit quia quo modi, amet id, aliquid facilis neque ullam dolorem praesentium dolorum tempore, quasi rerum accusantium. Dolor, at vel. Voluptatibus, soluta?
Fugit nemo accusantium praesentium laboriosam error nulla veniam reiciendis inventore necessitatibus vero harum labore tempore voluptatum aliquid soluta, cupiditate odio perspiciatis sit aut nisi corrupti minus. Consequuntur quas impedit ab.
Voluptas, modi. Amet illum ad deserunt praesentium, magni nam rem. Non possimus consequatur sapiente aspernatur voluptates libero velit porro distinctio reiciendis, quia consequuntur unde repellat ipsa error quisquam expedita minus.
Commodi sapiente aut esse molestias fugit quibusdam itaque soluta dicta, in, eaque totam quae expedita at deleniti consectetur quidem, cupiditate aliquid inventore nam assumenda. Veritatis recusandae vero voluptates sunt corporis.</p>
{% endblock %}
