{% extends 'base.html.twig' %}

{% block html_title %}Créer un nouvelle Utilisateur{% endblock %}

{% block titre %}Créer un nouvelle Utilisateur{% endblock %}

{% block body %}

    {{ include('utilisateur/_form.html.twig') }}

    <a href="{{ path('liste_utilisateurs') }}">Retourner à la liste des utilisateurs</a>
{% endblock %}
