{% extends 'base.html.twig' %}

{% block html_title %}Contactez-Nous !{% endblock %}

{% block titre %}Contactez-Nous !{% endblock %}

{% block body %}

<p>Veuillez nous contacter via le formulaire suivant.</p>

{% if notif is not empty %}
	<div class="alert alert-success" role="alert">
		{{ notif }}
	</div>
{% endif %}

{{ form(formulaire) }}

{% endblock %}