{% extends 'base.html.twig' %}

{% block html_title %}Modifier un Article{% endblock %}

{% block titre %}Modifier un Article{% endblock %}


{% block body %}

    {% if is_granted('ROLE_ECRIVAIN') or is_granted('ROLE_ADMIN') %}
        {{ include('article/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('article/_delete_form.html.twig') }}
    {% endif %}
    
    <a href="{{ path('liste_articles') }}">Retourner à la liste des Articles</a>
    
{% endblock %}
